version: 2
jobs:
  test:
    working_directory: ~/repo
    docker:
      - image: node:8.9.4
    steps:
      - checkout
      - run:
          name: Install APT packages
          command: apt-get update -y && apt-get install jq -y
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package.json" }}
            - dependency-cache-
      - run:
          name: Install NPM dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - run:
          name: Test
          command: npm test
      - run:
          name: Pack
          command: .circleci/pack.sh
      - store_artifacts:
          path: ~/repo/build

  test-and-deploy:
    working_directory: ~/repo
    docker:
      - image: node:8.9.4
    steps:
      - checkout
      - run:
          name: Install APT packages
          command: apt-get update -y && apt-get install jq -y
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package.json" }}
            - dependency-cache-
      - run:
          name: Install NPM dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - run:
          name: Test
          command: npm test
      - run:
          name: Pack
          command: .circleci/pack.sh
      - store_artifacts:
          path: ~/repo/build
      - deploy:
          name: Deploy
          command: .circleci/deploy-to-npm.sh

workflows:
  version: 2
  test:
    jobs:
      - test:
          filters:
            tags:
              ignore: /^v.*/
  test-and-deploy:
    jobs:
      - test-and-deploy:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
